.notices {
    padding-top: 60px;
    padding-bottom: 140px;  
    .title {
        margin-bottom: 30px;
    }
}

.filters {
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .name {
            margin-bottom: 0;
        }
    }
    .item{
        border:1px solid #e7e7e7;
        padding: 15px;
        border-radius: 10px;
        &+.item {
            margin-top: 20px;
        }
    }
    .name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}