.notice {
    padding: 30px 0;
    background-color: #efefef;
    border-top: 2px solid #e7e7e7;
    
    .head {
        background-color: #fff;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .title {
        font-size: 24px;
        font-weight: 700;
    }
    .price {
        font-size: 18px;
    }
    .info {
        padding: 20px 0px;
        img {
            width: 100%;
            aspect-ratio: 4/3;
            object-fit: cover;
            border:10px solid #fff;
        }
    }
    .author,
    .box {
        margin-top: 20px;
        padding: 15px;
        background-color: #fff;
    }

    .author {
        margin-top: 0;
        .name {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

}