@import '../../colors.scss';

.home {
    display: none;
}

header {
    background-color: $green;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    z-index: 1;
    .logo {
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .add_mobile{
        display: none;
    }
     
}


@media (max-width:1024px) {
    header {
        
        .container {
            padding: 0 15px;
        }
        .languages {
            padding-right: 0;
            margin-right: 0;
        }
    }
    .home {
        display: inline-flex;
    }
    .btns {
        padding: 5px 10px;
        position: fixed;
        box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.14);
        top: calc(100% - 46px);
        width: 100%;
        left: 0;
        background-color: $green;
        z-index: 10;
        display: flex;
        justify-content: center;
        gap:15px;
        .home {
            order:1;
        }
        .favorite {
            order:2;
        }
        button.add {
            display: none;
            
        }
        .add_mobile {
            order:3;
            transform: scale(1.5) translateY(-20px);
            margin:0px 20px;
            display: inline-flex;
            box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.14);
        }
        .message {
            order:4
        }
        .person {
            order:5;
        }

    }
}