@import '../../colors.scss';

.category {
    &__list {
        display: flex;
        justify-content: center;
        align-self: flex-start;
        gap:15px;
        .box {
            display: flex;
            flex-direction: column;
            width: 140px;
            align-items: center;
            gap:10px;
            padding: 10px;
            border: 1px solid #e7e7e7;
            border-radius: 10px;
            transition: 0.3s linear;            
            cursor: pointer;
            &:hover,
            &.active{
                background-color: $green;
                color: #fff;
                border-color: $green;
            }
            &.align-center{
                justify-content: center;
            }
        }
    }
}

.q-img {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.linear {
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;

    &__container {
        max-width: 800px;
        margin: auto;
        text-align: left;
    }
}

.subcategory__list {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    gap:15px;
}